@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.hero {
  position: relative;
  height: 90vh;
  background: url('miltomm-morro-4887986_12801.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 8%;
  color: white;
  font-family: "Playfair Display", serif;
}

/* escurecer imagem */
.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

/* conteúdo */
.hero-content {
  position: relative;
  max-width: 600px;
  z-index: 2;
}

/* título */
.hero h1 {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 600;
}

.hero h1 span {
  display: block;
  font-style: italic;
  color: #2ecc71; /* verde */
  font-weight: 500;
}

/* texto */
.hero p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  color: #ddd;
  font-family:  "Plus Jakarta Sans", sans-serif;
}

/* botões */
.hero-buttons {
  display: flex;
  gap: 15px;
  font-family:  "Plus Jakarta Sans", sans-serif;
}

.btn {
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.btn.primary {
  background: #27ae60;
  color: white;
}

.btn.secondary {
  background: rgba(255,255,255,0.2);
  color: white;
  backdrop-filter: blur(4px);
}


/* navbar geral */
.navbar {
  position: absolute; /* fica em cima do hero */
  top: 0;
  width: 100%;
  z-index: 10;
   background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px); 
}

/* container */
.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo img {
  height: 50px;
}

/* menu */
.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}

/* item ativo */
.nav-menu a.active {
  color: #27ae60;
}

/* hover */
.nav-menu a:hover {
  color: #27ae60;
}

.navbar.sticky {
  position: fixed;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}




.section-produto {
  padding: 100px 0;
  background: #f5f5f5;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* grid */
.produto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

/* imagem */
.produto-img img {
  width: 100%;
  border-radius: 4px;
}

/* texto */
.produto-texto .tag {
  color: #27ae60;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family:  "Plus Jakarta Sans", sans-serif ;
}

.produto-texto h2 {
  font-size: 42px;
  margin: 10px 0;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.produto-texto h2 span {
  display: block;
  color: #27ae60;
  font-style: italic;
  font-weight: bold ;
}

.produto-texto p {
  color: #6c7a89;
  line-height: 1.6;
  margin-top: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.produto-img {
  background: #ddd;
  padding: 40px;
}